.menu-dash{
    
    float: left;
   

}

.menu-opn{
    font-family: "IranSans";

    width: 14vw;
    height: 100vh;
    background-color: #000000;
    justify-content: left;
    align-items: left;
    padding-top: 14px;
    overflow-y:auto;
    z-index: 2;
    
}

.btn-menu-dash{
    width: 100%;
    font-size: 12px;
    text-align: left;
    color: #c0c0c0;
    text-decoration: none;
    padding: 8px 5px 8px 15px;
    background: #000000;
   margin-bottom: 5px;
   margin-right: 0;
   /* border-radius: 15px; */
   border: #eda60100;
    cursor: pointer;
    border-bottom: 1px solid #0000000a;
}


.btn-menu-dash:hover{
    
    color: rgb(255, 255, 255);

}
.btn-menu-dash-w{
    width: 100%;
    font-size: 12px;
    text-align: left;
    color: #c0c0c0;
    text-decoration: none;
    padding: 8px 5px 8px 15px;
    background: #000000;
    margin-bottom: 5px;
   margin-top: -7px;
   margin-right: 0;
   /* border-radius: 15px; */
   border: #eda60100;
    cursor: pointer;
    border-bottom: 1px solid #0000000a;
}


.btn-menu-dash-w:hover{
    
    color: rgb(255, 255, 255);

}
.btn-menu-dash-t{
    width: 100%;
    text-align: left;
    color: #c0c0c0;
    text-decoration: none;
    padding: 12px 5px 8px 15px;
    background: #000000;
   margin-right: 0;
   font-size: 12px;
   border: #eda60100;
    cursor: pointer;
    border-bottom: 1px solid #0000000a;
}


.btn-menu-dash-t:hover{
    
    color: #ffffff;

}

.btn-menu-dash-a{
    font-size: 12px;
    text-align: left;
    color: #c0c0c0;
    text-decoration: none;
    font-size: 13px;
    padding: 12px 125px 25px 25px;
    background: #000000;
    
   border: #eda60100;
    cursor: pointer;
    border-bottom: 1px solid #0000000a;

}

.btn-menu-dash-a:hover{
    
    text-decoration: none;
    color: #ffffff;

}

.footer-dashboard{
    position: fixed;
    bottom: 0px;
    background-color: #000000;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 20px;
    
}

.p-footer{
    margin-top: 1px;
    font-size: 12px;
    color: #ffffff;
}